{% extends 'layout.html.twig' %}

{% block content %}

{% include 'form.html.twig' %}

{% set row = 0 %}

<div class="row-fluid">
    <div class="span3 rounded-corners person-info">
        {% if actor.profile_path == '' %}
            <img src="http://placehold.it/185x278&amp;text=No+Image+Available" class="img-rounded">
        {% else %}
            <img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185/{{ actor.profile_path }}" class="img-rounded">
        {% endif %}
        <h2>{{ actor.name }}</h2>
    </div>

    <div class="span9 person-credits rounded-corners">
        {% for movie in credits.cast %}
            {% if row == 0 %}
                <div class="row-fluid">
            {% endif %}

            <div class="span4 credits-info">
                {% if movie.poster_path == '' %}
                    <img src="http://placehold.it/185x278&amp;text=No+Image+Available" class="img-rounded">
                {% else %}
                    <img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185/{{ movie.poster_path }}" class="img-rounded">
                {% endif %}
                <h3>
                    <a href="/movie/{{ movie.id }}">{{ movie.title }}</a>
                </h3>
            </div>

            {% set row = row + 1 %}

            {% if row == 3 %}
                </div>

                {% set row = 0 %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}