{% extends 'layout.html.twig' %}

{% block content %}

{% include 'form.html.twig' %}

{% set row           = 0 %}
{% set actor_image   = tmdb_img_path ~ actor.profile_path %}

<div class="row-fluid">
    <aside class="span3 rounded-corners person-info">
        {% if actor.profile_path == '' %}
            {% set actor_image = dummy_image %}
        {% endif %}

        <img data-original="{{ actor_image }}" src="{{ loading_image }}" class="img-rounded">
        <h2>{{ actor.name }}</h2>
    </aside>

    <section class="span9 person-credits rounded-corners">
        {% for movie in credits.cast %}
            {% if row == 0 %}
                <div class="row-fluid">
            {% endif %}

            <article class="span4 credits-info">
                {% if movie.poster_path == '' %}
                    {% set movie_image = dummy_image %}
                {% else %}
                    {% set movie_image = tmdb_img_path ~ movie.poster_path %}
                {% endif %}

                <img data-original="{{ movie_image }}" src="{{ loading_image }}" class="img-rounded">
                <h3>
                    <a href="/movie/{{ movie.id }}">{{ movie.title }}</a>
                </h3>
            </article>

            {% set row = row + 1 %}

            {% if row == 3 %}
                </div>

                {% set row = 0 %}
            {% endif %}
        {% endfor %}
    </section>
</div>

{% endblock %}