{% extends 'layout.html.twig' %}

{% block content %}

{% include 'form.html.twig' %}

{% set movie_image   = tmdb_img_path_big ~ movie.poster_path %}

<div class="row-fluid">
    <section class="span12 rounded-corners movie-info">
        <aside class="span3">
            {% if movie.poster_path == '' %}
                {% set movie_image = dummy_image %}
            {% endif %}

            <img data-original="{{ movie_image }}" src="{{ loading_image }}" class="img-rounded">
        </aside>

        <article class="span9">
            <header class="page-header">
                <h1>
                    {{ movie.original_title }}
                    <small>{{ movie.release_date }}</small>
                </h1>

                {% if movie.tagline != '' %}
                    <div class="row-fluid">
                        <small class="span12 tagline">{{ movie.tagline }}</small>
                    </div>
                {% endif %}

                {% for genre in movie.genres %}
                    <span class="label">{{ attribute(genre, 'name') }}</span>
                {% endfor %}
            </header>

            <p>{{ movie.overview }}</p>

        </article>
    </section>
</div>

{% endblock %}