{% extends 'layout.html.twig' %}

{% block content %}

{% include 'form.html.twig' %}

{% set row = 0 %}

<section class="row-fluid">
    <article class="span12 rounded-corners results-info">
        {% if results.data|length > 0 %}
            {% for item in results.data %}
                 {% if row == 0 %}
                    <div class="row-fluid">
                {% endif %}

                <div class="span3">
                    {% if item.img == '' %}
                        <img data-image="{{ dummy_image }}" src="{{ loading_image }}" class="img-rounded">
                    {% else %}
                        <img data-original="{{ tmdb_img_path ~ item.img }}" src="{{ loading_image }}" class="img-rounded">
                    {% endif %}

                    <h3>
                        <a href="/{{ results.path }}/{{ item.id }}">{{ item.title }}</a>
                    </h3>
                </div>

                {% set row = row + 1 %}

                {% if row == 4 %}
                    </div>

                    {% set row = 0 %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="alert alert-block">
                <h4>No results found :(</h4>
            </div>
        {% endif %}
    </article>
</section>

{% endblock %}
